*,*::after,*::before{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
h1,h2,h3{
  color: whitesmoke;
}
.main{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 100vw;
}

.main-content {
  display: grid;
  grid-template-rows: 1fr 10fr ;
  background-color: #343a40;
  width: 80%;
  height: 100vh;
  padding: 1% 1%;
  box-shadow: 2px 2px #3333338a;
  min-width: 40vw;
}

#todo-text {
  background-color: #343a40;
  color: #c4bcbc;
  width: 100%;
  height: 50%;
  border: none;
  border-bottom: #c25757 1px solid;
  font-size: large;

}

#todo-text::placeholder{
  color: #c4bcbc;
  font-size: large;
}

#todo-text:focus{
  border: none;
  outline: none;
  font-size: large;
}

.todolist-container{
  height: 100%;
  overflow-y: auto;
}

.todo-item , .active{
  display: grid;
  grid-template-rows: 4fr 1fr;
  background-color: #0000003f;
  border-radius: 5px;
  margin-bottom: 2%;
  padding: 10px 5px;
  width: 98%;

  z-index: -999999999999999999999999999999999999999;

}

.active {
  background-color: #915050;
}

.list-details {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
  justify-items: center;
  width: 100%;
}

.todo-text {
  text-align: start;
  color: #c7c7c7;
  width: 100%;
}

.todo-text p {
  font-size: large;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.timestamp p {
  font-size: 10px;
  color: #d6d6d6;
  margin-left: 4%;
}


/* Detailed todo component styles*/

.detailed-todo-section, .main-header{
  background-color: #2c7bca;
  height: 100vh;
  width: 100%;
  max-width: 20vw;
}

.detailed-todo-section {
  display: grid;
  grid-template-rows: repeat(6,1fr);
  align-items: center;
  justify-items: center;
  background-color: yellow;
  padding: 6% 2%;
  min-width: 25vw;
  overflow-y: auto;
  max-height: 100vh;


}

.detailed-todo-container{
  display: grid;
  grid-template-rows: repeat(6,1fr);
  align-items: center;
  justify-items: center;
  gap: 2px;
  height: 100%;
  width: 90%;

}

.detailed-todo-elements {
  background-color:#343a40;
  min-height: 10vh;
  width: 99%;
  border-radius: 3px;
  padding: 1vh 2vh;

}

.detailed-customs {
  position: relative;
  display: flex;
  align-items: center;

  height: 30px;
  padding: 3px 5px;
  color: white;
  width: 100%;

}

.detailed-customs:hover {
  background-color: #6e6e6e93;
}

.detailed-add-due-date
{
  border-top: 1px solid #999898;
  border-bottom: 1px solid #999898;
  height: 35px;
}

.detailed-set-reminders {
  position: absolute;
  background-color: #000203;
  border-radius: 5px;
  min-height: 15vh;
  width: 90%;
  top: 110%;
  left: 6%;
  z-index: 999;
}

.detailed-set-reminders ul {

 display: flex;
 flex-direction: column;
 align-items: start;
 justify-content: center;
 padding: 1vh 5px;

}

.detailed-set-reminders ul li {

  margin: 8px;
  width: 90%;
  padding: 5px 15px;
  border-radius: 4px;
}

.detailed-set-reminders ul li:hover {
  background-color: #c25757;
}

.detail-option
{
z-index: -9;
}

label{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: -10px;
}

/*Todo details */
.reminder-display{

  display: grid;
  width: 100%;
  padding: 5px;
  background-color: rgb(35, 92, 63);

}




