*,*::after,*::before{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

.main-content {
  display: grid;
  grid-template-rows: 1fr 10fr ;
  background-color: #343a40;
  width: 60%;
  height: 90%;
  border-radius: 10px;
  padding: 1% 1%;
  box-shadow: 2px 2px #3333338a;
}

#todo-text {
  background-color: #343a40;
  color: #c4bcbc;
  width: 100%;
  height: 50%;
  border: none;
  border-bottom: #c25757 1px solid;
  font-size: large;

}

#todo-text::placeholder{
  color: #c4bcbc;
  font-size: large;
}

#todo-text:focus{
  border: none;
  outline: none;
  font-size: large;
}

.todolist-container{
  height: 100%;
  overflow-y: auto;
}

.todo-item{
  display: grid;
  grid-template-rows: 4fr 1fr;
  background-color: #0000003f;
  border-radius: 5px;
  margin-bottom: 2%;
  padding: 10px 5px;
  width: 98%;

}

.list-details {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
  justify-items: center;
  width: 100%;
}

.todo-text {
  text-align: start;
  color: #c7c7c7;
  width: 100%;
}

.todo-text p {
  font-size: large;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.timestamp p {
  font-size: 10px;
  color: #d6d6d6;
  margin-left: 4%;
}

